@import "fonts.styl"
@import "mixins.styl"
@import "icons.styl"

*
  box-sizing border-box

a
.link
  &:link
  &:visited
    color #666

a
.link
  &:hover
    color #333

html
  background-color #f5f6f7
  
body
  font 14px 'Roboto', 'Helvetica Neue', Helvetica, Arial
  color #999
  display flex
  flex-direction column
  min-height 100vh
  max-width 1200px
  margin 0 auto
  
header
.section
footer
  display flex

header
  height 40px
  margin 20px 0 40px 0
  
.header
  
  &__logo
    width 155px
    height 27px
    background-image url('../images/logo.svg')
    background-position center
    background-repeat no-repeat
    
  &__nav
    margin-left auto
    
  &__link
    margin-left 20px
    display inline-block
    padding 0 20px
    line-height 40px
    background #fff
    box-shadow 0 1px 5px 0 rgba(0,0,0,0.1)
    border 1px solid transparent
    border-radius 3px
    text-decoration none
    
    &:first-child
      margin-left 0

    &:active
      box-shadow 0 0 1px 0 #ffdb4d
      border 1px solid #ffdb4d
      
    & .icon
      display none
      
    &_filter
      display none
  
.section
  flex 1
  
footer
  padding 20px 0

.side
  display flex
  
  &_left
    flex-basis 220px
    
    &_padding
      padding-left 20px
    
  &_right
    padding 0 20px
    flex 1
    
  &_middle
    align-items center
    
  &_column
    flex-direction column
    
.link
  text-decoration none
  transition all .2s ease-in
  
.footer
  
  &__item
    margin-right 20px
    
    &:last-child
      margin-right 0
      
    &_last
      margin-left auto
      
.filter
  width 100%
  
  &__param
    display flex
    align-items center
    height 50px
    padding 0 20px
    border-top 1px solid #dcdcdd
    cursor pointer
    transition all .2s
    
    &:last-child
      border-bottom 1px solid #dcdcdc
      
    &:hover
      background #e8e9ea
      color #333
      
    &:hover .filter__clear
      opacity .5
      
    &_active .filter__clear
      display inline-block
      
    &_active .filter__param-text
      display none
      
    &_active .filter__param-selected
      display inline-block
      
    &-selected
      display none
      
  &__text
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    max-width 160px
      
  &__clear
    display none
    margin-left auto
    opacity .2
    transition all .2s
    
    &:hover
      background-color #fff
      border-radius 3px
      
    &:active
      background-color #c2c2c2
      
.cars
  display flex
  flex-wrap wrap
  margin 0 -10px
  
.car
  position relative
  width 33.333%
  padding 0 10px 20px 10px
  
  &__inner
    position relative
    top 0
    border-radius 3px
    box-shadow 0 1px 5px 0 rgba(0,0,0,0.1)
    transition top .2s,box-shadow .2s
    
    &:hover
      top -3px
      box-shadow 0 2px 8px 0 rgba(0,0,0,0.2)
    
  &__preview
    display block
    position relative
    background #ececec
    min-height 160px
    
  &__thumb
    display block
    border-radius 3px 3px 0 0
    width 100%
    height auto
    
  &__price
    position absolute
    left 0
    bottom 0
    width 100%
    padding 10px
    font-size 20px
    font-weight bold
    background transparent
    color #fff
    text-shadow 0 1px 2px rgba(0,0,0,0.5)
    
  &__info
    border-radius 0 0 3px 3px
    padding 10px
    
  &__string
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    
  &__param
    margin-right 10px