.icon
  display inline-block
  vertical-align middle
  
  &_add
    width 20px
    height 20px
    background-image url('../images/add.svg')
    
  &_filter
    width 20px
    height 20px
    background-image url('../images/filter.svg')