.icon
  display inline-block
  vertical-align middle
  width 20px
  height 20px
  
  &_add
    
    background-image url('../images/add.svg')
    
  &_filter
    background-image url('../images/filter.svg')
    
  &_clear
    background-image url('../images/clear.svg')